<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRMTestAutomation">
  <test name="FreeCRMTest">
    <classes>
      <class name="com.crm.testcases.LoginPageTest"/>
      <class name="com.crm.testcases.HomePageTest"/>
      <class name="com.crm.testcases.ContactPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
